<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sarabun&family=IBM+Plex+Mono&family=Prata&display=swap"
      rel="stylesheet"
    />

    <style>
      body {
        padding: 0;
        margin: 0;
        background: black;
        color: rgb(235, 235, 235);
        font-family: 'Sarabun', sans-serif;
      }

      p,
      ul {
        margin-top: 0;
        font-size: 1.8rem;
      }

      p.by {
        font-size: 1.3rem;
      }

      code,
      pre {
        font-family: 'IBM Plex Mono', monospace;
      }

      .backdrop {
        position: absolute;
        top: 0;
        background-image: url(https://images.pexels.com/photos/65867/dog-mountain-mombarone-clouds-65867.jpeg?cs=srgb&dl=pexels-pixabay-65867.jpg&fm=jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
        z-index: -1;
        filter: brightness(0.3) blur(2px);
        overflow: hidden;
      }

      .landing h1 {
        font-family: 'Prata', serif;
        font-size: 3.1rem;
        margin-bottom: 1.5rem;
      }

      .landing h2 {
        font-size: 2.25rem;
        font-family: 'Prata', serif;
      }

      .landing p {
        max-width: 50%;
      }

      .landing .content {
        margin: auto;
        padding: 2rem auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
        width: 80%;
      }

      .landing {
        height: 100vh;
      }

      nav {
        font-family: 'Prata', serif;
        position: absolute;
        top: 0;
        display: block;
        text-align: center;
        width: 100%;
      }

      a {
        color: inherit;
      }

      a:hover {
        text-decoration-color: transparent;
      }

      .description {
        color: rgb(172, 172, 172);
      }

      .small {
        font-size: 80%;
      }

      @media (max-width: 700px) {
        .backdrop {
          position: fixed;
        }

        html {
          font-size: 14px;
        }

        .landing ul {
          max-width: 100%;
          font-size: 1.4rem;
        }

        .landing {
          padding-top: 2rem;
        }

        .landing .content {
          width: 90%;
        }
      }
    </style>

    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
    {{ APP }}
  </body>
</html>
