<script>
export default {
  props: {
    href: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      requierd: false,
      default: () => '',
    },
  },
}
</script>

<template>
  <a :href="href" target="_blank" rel="noopener noreferrer" :title="title"
    ><slot
  /></a>
</template>
