<script>
import OutLink from '~/components/OutLink.vue'

export default {
  components: { OutLink },
}
</script>

<template>
  <section class="landing">
    <div class="backdrop"></div>
    <div class="content">
      <h1>CodingPaws</h1>
      <p>Creating open-source software one paw step at a time.</p>
      <h2>PHP Libraries</h2>
      <ul>
        <li>
          <a href="https://gitlab.com/codingpaws/gitlab-feature"
            ><code>codingpaws/gitlab-feature</code></a
          ><br />
          <span class="description"
            >Use GitLab feature flags in your Laravel app! 🦊🐘</span
          >
        </li>
        <li>
          <a href="https://gitlab.com/codingpaws/laravel-findby"
            ><code>codingpaws/laravel-findby</code></a
          ><br />
          <span class="description">
            Ruby-like findBy in your Laravel model queries.<br />
            <code class="small"
              >User::findBy(name: 'John', age: 26)->first();</code
            >
          </span>
        </li>
        <li>
          <a href="https://gitlab.com/codingpaws/php-go-rpc"
            ><code>codingpaws/go-rpc</code></a
          ><br />
          <span class="description"
            >An extendable PHP client for Golang RPC services</span
          >
        </li>
        <li>
          <a href="https://gitlab.com/codingpaws/layer4"
            ><code>codingpaws/layer4</code></a
          ><br />
          <span class="description">Object-oriented PHP TCP/UDP client</span>
        </li>
        <li>
          <a href="https://gitlab.com/codingpaws/r6-metadata"
            ><code>codingpaws/r6-metadata</code></a
          ><br />
          <span class="description"
            >Rainbow Six: Siege metadata, such as region names</span
          >
        </li>
      </ul>
      <p class="by">
        Made by
        <out-link href="https://twitter.com/KevSlashNull"
          >KevSlashNull</out-link
        >
        with 🧡, 🐾, and
        <out-link href="https://about.gitlab.com" title="GitLab">🦊</out-link>.
        <out-link href="https://gitlab.com/codingpaws/codingpa.ws"
          >Source</out-link
        >.
      </p>
    </div>
  </section>
</template>
